.appContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

}

.divBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.h2Word{
  display: flex;
  align-items: center;
  font-family: 'cursive';
  text-align: center;
  justify-content: center;
}

.wordPosition{
  height: 100vh;
  width: 100vw;
  border-radius: 35%;
  /* background-color: #d3d3d3;
  height: 100px;
  width: 200px; */
}

.clickImg{
  max-width: 100vw;
  height: auto;
  cursor: pointer;
}

img .fullscreen{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}


@media screen and (max-width: 480px) {
  .appContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
  }
  .divBtn{
    font-size: 20px;
  }
  .clickImg{
  width: 100vw;
  height: 100vh;
  background-image: url('../public/cover.JPG');
  background-size: cover; /* 背景圖片充滿容器，保持比例 */
  background-position: center; /* 背景圖片居中顯示 */
  background-repeat: no-repeat; /* 防止背景圖片重複 */
  cursor: pointer;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .appContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divBtn{
    font-size: 25px;
  }
  .clickImg{
    width: 100vw;
    height: 100vh;
    background-image: url('../public/cover.JPG');
    background-size: cover; /* 背景圖片充滿容器，保持比例 */
    background-position: center; /* 背景圖片居中顯示 */
    background-repeat: no-repeat; /* 防止背景圖片重複 */
    cursor: pointer;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .appContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20vh;
  }
  .clickImg{
    width: 100vw;
    height: 100vh;
    background-image: url('../public/cover.JPG');
    background-size: cover; /* 背景圖片充滿容器，保持比例 */
    background-position: center; /* 背景圖片居中顯示 */
    background-repeat: no-repeat; /* 防止背景圖片重複 */
    cursor: pointer;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .appContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .clickImg{
    width: 100vw;
    height: 100vh;
    background-image: url('../public/cover.JPG');
    background-size: cover; /* 背景圖片充滿容器，保持比例 */
    background-position: center; /* 背景圖片居中顯示 */
    background-repeat: no-repeat; /* 防止背景圖片重複 */
    cursor: pointer;
  }
}

@media screen and (min-width: 1201px) {
  .appContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .clickImg{
    width: 100vw;
    height: 100vh;
    background-image: url('../public/cover.JPG');
    background-size: cover; /* 背景圖片充滿容器，保持比例 */
    background-position: center; /* 背景圖片居中顯示 */
    background-repeat: no-repeat; /* 防止背景圖片重複 */
    cursor: pointer;
  }
}







/* ====================================================*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
